<% provide(:title, "Home") %>
<% if user_signed_in? %>
  <div class="center">
    <%= link_to "New Game", games_waiting_room_path, class: "new"%>
  </div>
  <% if current_user.games.any? %>
    <h2 style="text-align: left; margin-bottom: 20px">Active Games</h2>
    <% current_user.games.each do |game| %>
      <%= render game, game_player: game.player_for(current_user) %>
    <% end %>
  <% end %>
<% else %>
  <div class="center jumbotron">
    <h1>Home</h1>
    <h2>
      Welcome to Iterative Crowdsourcing Comprehension Challenge Game!
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
