<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Home</h1>
    <h2>
      Welcome to Iterative Crowdsourcing Comprehension Challenge Game!
    </h2>

    <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
