<div class="status">
  There are currently <%= @game.number_of_players %> players waiting.
</div>

<button type="button" name="button">Invite players</button>
<button type="button" name="button">Leave</button>
