<div class="status">
  There are currently <span><%= game.players.size %></span> players waiting.
</div>

<button type="button" name="button">Invite players</button>
<button type="button" name="button">Leave</button>
