
<!-- Whiteboard sample -->
<div id="pairs">
  <div id="pair_1" class="pair">
    <p id="question_1" class="question">
      Aenean bibendum posuere est ut posuere?
    </p>
    <p id="answer_1" class="answer">
      Duis et elementum elit.
    </p>
  </div>

  <div id="pair_2" class="pair">
    <p id="question_2" class="question">
      Aenean bibendum posuere est ut posuere?
    </p>
    <p id="answer_2" class="answer">
      Duis et elementum elit.
    </p>
  </div>

  <div id="pair_3" class="pair">
    <p id="question_3" class="question">
      Aenean bibendum posuere est ut posuere?
    </p>
    <p id="answer_3" class="answer">
      Duis et elementum elit.
    </p>
  </div>

  <div id="pair_4" class="pair">
    <p id="question_4" class="question">
      Aenean bibendum posuere est ut posuere?
    </p>
    <p id="answer_4" class="answer">
      Duis et elementum elit.
    </p>
  </div>

  <div id="pair_5" class="pair">
    <p id="question_5" class="question">
      Aenean bibendum posuere est ut posuere?
    </p>
    <p id="answer_5" class="answer">
      Duis et elementum elit.
    </p>
  </div>
</div>
