<div>
  We have <%= GAME_SIZE %> players. redirecting to game....

  <script type="text/javascript">
  $(document).ready(function () {
    var spinner = new Spinner().spin();
    $('.main-container').append(spinner.el);

    setTimeout(function() {
      window.location.replace("/games/<%= game_id %>");
    }, 1000);
  });
  </script>
</div>
