<div class="center status">
  There are currently <span><%= participants_size %></span> <%= 'player'.pluralize(participants_size) %> waiting.
</div>

<div class="center">
  <button type="button" name="button" class="btn">Invite players</button>
  <a class="btn btn-default" href="<%= root_path %>">Leave</a>
</div>
