<div class="center status">
  <h1>There are currently <span><%= participants_size %></span> <%= 'player'.pluralize(participants_size) %> waiting.</h1>
</div>

<div class="center">
  <button type="button" name="button" class="btn btn-primary">Invite players</button>
  <a class="leave-room" href="<%= root_path %>">Leave</a>
</div>
