/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "static_pages";
@import "games";

header h1 {
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 40px;
    text-align: left;
  }
}

form {
  max-width: 500px;
}

body {
  padding-top: 40px;
}

.main-container {
  margin-top: 50px;
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

div.current_answer {
  width: 1020px;
}

a.new, a.edit, a.delete, a.leave-room, a.resume, button.judge {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;
  @extend .btn-lg;

  &:before {
    @extend .fa-plus;
  }
}

a.leave-room {
  @extend .btn-danger;

  &:before {
    @extend .fa-sign-out;
  }
}

a.resume, button.judge {
  @extend .btn-primary;
}

a.resume {
  &:before {
    @extend .fa-sign-in;
  }
}

button.judge {
  &:before {
    @extend .fa-thumbs-o-up;
  }
}

table#attributes tr th {
  padding-right: 30px;
}
